.home3 {
    position: relative;
    top: 300px;
    width: 33%;
    left: 850px;
    z-index: 5;
}

.she {
    position: absolute;
    top: 2950px;
    color: $black;
    font-family: $ff-af;
    font-size: 1.5rem;
    left: 335px;

}
.portfolio-big-text {
    position: absolute;
    z-index: 10;
    top: 3100px;
    font-family: $ff-os;
    color: $black;
    font-size: 2rem;
    left: 660px;
}
.portfolio-text {
    position: absolute;
    color: $black;
    font-family: $ff-ssp;
    font-size: 1.2rem;
    text-align: left;
    display: block;
    margin-right: 50%;
    left: 355px;
    line-height: 1.6;
}
.rect4 {
    position: absolute;
    top: 3500px;
    left: -430px;
    height: 120px;
    width: 1949px;
    background-color: $gray;
}

.workbutton {
    text-align: center;
    top: 3555px;
    position: absolute;
    left: 500px;
    .workbtn {
        position: relative;
        border: 1.5px solid $black;
        background: none;
        padding: 10px 20px;
        font-size: 10px;
        font-family: $ff-ssp;
        font-weight: $fw-b;
        letter-spacing: 2.5px;
        cursor: pointer;
        margin: 10px;
        color: $black;
        text-decoration: none;
    }
    .workbtn:hover {
        color: $white;
        border: 1.5px solid $white;
        box-shadow: 7px 7px 7px -7px $black;
        
    } 
}
