    
.imgabout {

    position: relative;
    width: 100%;
    height: auto;
    img {
        position: relative;
        top: -730px;
        left: 200px;
        width: 33%;
        z-index: 10;
    }
    
    .about {
        position: absolute;
        display: inline-block;
        top: -615px;
        left: 620px;
        text-align: center;
        z-index: 99999;
        h1 {
            font-size: 3rem;
            font-family: $ff-os;
            color: $black;
            font-weight: $fw-b;
            width: 100%;
            height: auto;
        }
    }
    .rect1 {
        position: relative;
        top: -800px;
        height: 120px;
        width: 1519px;
        background-color: $charcoal_gray;
    }
}
.aboutme {
    position: absolute;
    top: 1100px;
    left: 800px;
    .hi {
        font-size: 1.6rem;
        font-family: $ff-af;
        //position: aboslute;
        color: $black;
        font-weight: $fw-n;
    }
    .welcome-text {
        color: $black;
        font-family: $ff-os;
        font-size: 1.1rem;
        display: block;
        text-align: initial;
        margin-right: 55%;
        margin-top: 15%;
        line-height: 1.6;
    }
    
}

.wbutton {
    text-align: center;
    top: 1675px;
    position: absolute;
    left: 900px;
    .welcomebtn {
        z-index: 20;
        position: relative;
        border: 1.5px solid $white;
        background: none;
        padding: 10px 20px;
        font-size: 10px;
        font-family: $ff-ssp;
        font-weight: $fw-b;
        letter-spacing: 2.5px;
        cursor: pointer;
        margin: 10px;
        color: $white;
        text-decoration: none;
        //box-shadow: 0 5px 15px -5px $black;
        
    }
    .welcomebtn:hover {
        color: $black;
        border: 1.5px solid $black;
        box-shadow: 7px 7px 7px -7px $black;
        
    }
    
}
