.birdrect {
    position: relative;
    top: 0px;
    height: 600px;
    width: 50%;
    background-color: $silver;
}
.title {
    position: absolute;
    top: 80px;
    left: 80px;
    color: $black;
    font-family: $ff-os;
    font-size: 3rem;
    font-weight: $fw-b;
}

.titletext {
    position: absolute;
    top: 22%;
    //left: 50px;
    margin-left: 9%;
    margin-right: 75%;
    color: $black;
    font-family: $ff-ssp;
    font-size: 1.2rem;
    font-weight: $fw-n;
    line-height: 1.3rem;
}
.slogan {
    position: absolute;
    top: 69%;
    //left: 50px;
    margin-left: 9%;
    color: $black;
    font-family: $ff-ssp;
    font-size: 1.5rem;
    font-weight: $fw-b;
    
}
.credits {
    position: absolute;
    top: 22%;
    left: 60%;
    //margin-right: 50%;
    color: $black;
    font-family: $ff-ssp;
    font-size: 1.3rem;
    font-weight: $fw-n;
    line-height: 1.3rem;
    
}

.logotext {
    position: absolute;
    top: 100%;
    left: 80px;
    color: $black;
    font-family: $ff-af;
    font-size: 2.5rem;
    font-weight: $fw-b;
}

.logotextbody {
    position: absolute;
    top:  112%;
    //left: 50px;
    margin-left: 6%;
    margin-right: 75%;
    color: $black;
    font-family: $ff-ssp;
    font-size: 1.3rem;
    font-weight: $fw-n;
    line-height: 1.3rem;
}

.logoimgone {
    width: 25%;
    height: auto;
    position: relative;
    left: 44%;
    top: 150px;
}

.logoimgtwo {
    width: 25%;
    height: auto;
    position: relative;
    left: 70%;
    top: 120px;
}

.logoimgthree {
    width: 25%;
    height: auto;
    position: relative;
    left: 44%;
    top: 110px;
}

.printtitle {
    position: absolute;
    top: 210%;
    left: 80px;
    color: $black;
    font-family: $ff-af;
    font-size: 2.5rem;
    font-weight: $fw-b;
}

.printtitletext {
    position: absolute;
    top:  222%;
    //left: 50px;
    margin-left: 6%;
    margin-right: 75%;
    color: $black;
    font-family: $ff-ssp;
    font-size: 1.3rem;
    font-weight: $fw-n;
    line-height: 1.3rem;
}

.printadimgone {
    width: 150%;
    height: auto;
    position: relative;
    left: 10%;
    top: 190px;
}

.printadimgtwo {
    width: 282%;
    height: auto;
    position: relative;
    left: 174%;
    top: -410px;
}
.printadimgthree {
    width: 150%;
    height: auto;
    position: relative;
    left: 10%;
    top: -200px;
}

.printadimgfour {
    width: 282%;
    height: auto;
    position: relative;
    left: 174%;
    top: -800px;
}

.OOHtitle {
    position: absolute;
    top: 515%;
    left: 80px;
    color: $black;
    font-family: $ff-af;
    font-size: 2.5rem;
    font-weight: $fw-b;
}

.OOHtext {
    position: absolute;
    top:  527%;
    //left: 50px;
    margin-left: 6%;
    margin-right: 75%;
    color: $black;
    font-family: $ff-ssp;
    font-size: 1.3rem;
    font-weight: $fw-n;
    line-height: 1.3rem;
}

.OOHimage {
    width: 35%;
    height: auto;
    position: relative;
    left: 50%;
    top: 2570px;
}

.instatitle {
    position: absolute;
    top: 630%;
    left: 80px;
    color: $black;
    font-family: $ff-af;
    font-size: 2.5rem;
    font-weight: $fw-b;
}
.instatext{
    position: absolute;
    top:  642%;
    //left: 50px;
    margin-left: 6%;
    margin-right: 75%;
    color: $black;
    font-family: $ff-ssp;
    font-size: 1.3rem;
    font-weight: $fw-n;
    line-height: 1.3rem;
}
.instaimgone {
    width: 50%;
    height: auto;
    position: relative;
    left: 40%;
    top: 2750px;
}

.twtitle {
    position: absolute;
    top: 730%;
    left: 80px;
    color: $black;
    font-family: $ff-af;
    font-size: 2.5rem;
    font-weight: $fw-b;
}

.twtext {
    position: absolute;
    top:  742%;
    //left: 50px;
    margin-left: 6%;
    margin-right: 75%;
    color: $black;
    font-family: $ff-ssp;
    font-size: 1.3rem;
    font-weight: $fw-n;
    line-height: 1.3rem;
}

.twimg {
    width: 150%;
    height: auto;
    position: relative;
    left: 225%;
    top: -120px;
}

.instaposttitle {
    position: absolute;
    top: 850%;
    left: 80px;
    color: $black;
    font-family: $ff-af;
    font-size: 2.5rem;
    font-weight: $fw-b;
}

.instaposttext {
    position: absolute;
    top:  862%;
    //left: 50px;
    margin-left: 6%;
    margin-right: 75%;
    color: $black;
    font-family: $ff-ssp;
    font-size: 1.3rem;
    font-weight: $fw-n;
    line-height: 1.3rem;
}

.instapostimg {
    width: 50%;
    height: auto;
    position: relative;
    left: 40%;
    top: 3820px;
}

.retbutton {
    text-align: center;
    top: 6950px;
    position: absolute;
    left: 6%;
    .retbtn {
        position: relative;
        border: 1.5px solid $black;
        background: none;
        padding: 10px 20px;
        font-size: 10px;
        font-family: $ff-ssp;
        font-weight: $fw-b;
        letter-spacing: 2.5px;
        cursor: pointer;
        margin: 10px;
        color: $black;
        text-decoration: none;
    }
    .retbtn:hover {
        color: $blue;
        border: 1.5px solid $blue;
        box-shadow: 7px 7px 7px -7px $black;
        
    } 
}

@media(max-width: 768px) {
    .title {
        font-size: 1rem;
    }

    .titletext {
        font-size: .55rem;
    }
    .slogan {
        font-size: .7rem;
        top: 86%;
    }
    .credits {
        font-size: .7rem;
    }
    .printtitle {
        top: 180%;
        font-size: .7rem;
    }
    .printtitletext {
        top: 190%;
        font-size: .55rem;
    }
    .printadimgone {
        top: 110px;
    }
    .printadimgtwo {
        top: -105px;
    }
    .printadimgthree {
        top: -30px;
    }
    .printadimgfour {
        top: -245px;
    }
}