.apronrect {
    position: relative;
    top: 0px;
    height: 600px;
    width: 50%;
    background-color: $silver;
}

.title {
    position: absolute;
    top: 80px;
    left: 80px;
    color: $black;
    font-family: $ff-os;
    font-size: 3rem;
    font-weight: $fw-b;
}
.titletext {
    position: absolute;
    top: 22%;
    //left: 50px;
    margin-left: 9%;
    margin-right: 75%;
    color: $black;
    font-family: $ff-ssp;
    font-size: 1.2rem;
    font-weight: $fw-n;
    line-height: 1.3rem;
}
.logotext {
    position: absolute;
    top: 100%;
    left: 80px;
    color: $black;
    font-family: $ff-af;
    font-size: 2.5rem;
    font-weight: $fw-b;
}
.logotextbody {
    position: absolute;
    top:  112%;
    //left: 50px;
    margin-left: 6%;
    margin-right: 75%;
    color: $black;
    font-family: $ff-ssp;
    font-size: 1.3rem;
    font-weight: $fw-n;
    line-height: 1.3rem;
}
.BALOGO {
    width: 25%;
    height: auto;
    position: relative;
    left: 50%;
    top: 150px;
}
.adtitle {
    position: absolute;
    top: 210%;
    left: 80px;
    color: $black;
    font-family: $ff-af;
    font-size: 2.5rem;
    font-weight: $fw-b;
}
.adbody {
    position: absolute;
    top:  222%;
    //left: 50px;
    margin-left: 6%;
    margin-right: 75%;
    color: $black;
    font-family: $ff-ssp;
    font-size: 1.3rem;
    font-weight: $fw-n;
    line-height: 1.3rem;
}

.adimg {
    width: 35%;
    height: auto;
    position: relative;
    left: 50%;
    top: 470px;
}
.BAretbutton {
    text-align: center;
    top: 304%;
    position: absolute;
    left: 6%;
    .BAretbtn {
        position: relative;
        border: 1.5px solid $black;
        background: none;
        padding: 10px 20px;
        font-size: 10px;
        font-family: $ff-ssp;
        font-weight: $fw-b;
        letter-spacing: 2.5px;
        cursor: pointer;
        margin: 10px;
        color: $black;
        text-decoration: none;
    }
    .BAretbtn:hover {
        color: $blue;
        border: 1.5px solid $blue;
        box-shadow: 7px 7px 7px -7px $black;
        
    } 
}

@media(max-width: 768px) {
    .title {
        font-size: 1rem;
    }

    .titletext {
        font-size: .55rem;
    }
    .logotext {
        font-size: .7rem;
    }

    .logotextbody {
        font-size: .55rem;
    }

    .adtitle {
        top: 160%;
        font-size: .7rem;
    }
    .adbody {
        top: 172%;
        font-size: .55rem;
    }

    .adimg {
        top: 390px;
    }
    .BAretbutton {
        top: 260%;
        .BAretbtn {
            font-size: 7px;
            border: 1px solid $black;
        }
        .BAretbtn:hover {
            border: 1px sold $blue;
        }
    }
}