<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="../scss/main.css">
    <title>Lacey Paul - Blue Apron</title>
</head>
<body>

    <section class="header">
        <div class="apronrect"></div>
        <div class="title">Blue Apron</div>
        <div class="titletext">
            <p>
                Blue Apron is a meal delivering service composed of healthy recipes. According 
                to my research, I found that Blue Apron’s target audience live fast-paced lifestyles, 
                but want to cook healthy meals quickly 
                and efficiently. Customers are at-home 
                chefs who enjoy cooking healthy meals
                for either themselves or their families.    
            </p>
        </div>
    </section>
    <section class="apronlogo">
        <div class="logotext">Logo</div>
        <div class="logotextbody">
            <p>
                I redesigned Blue Apron’s logo to create a more modern feel for Blue Apron’s target audience of 25-40 years old. This simplistic design 
                is clear and legible on print ads, digital content, and product packaging.
            </p>
        </div>
        <div class="BALOGO">
            <img src="../img/apron/BA_logo.jpg">
        </div>
    </section>
    <section class="apronad">
        <div class="adtitle">Print Advertisment</div>
        <div class="adbody">
            <p>
                For my print advertisement, I wanted to cater to the target audience by highlighting Blue Apron’s 30-minute meals in a creative and interesting way. Blue Apron’s customers want the convenience of a fast meal without sacrificing quality and fresh ingredients. Associating a healthy meal 
                with a clock tells consumers a delicious meal can take 30-minutes or less. 
            </p>
            <p>
                <i>
                    “Prep and cook delicious meals from start to finish in 30-minutes or less. Enjoy our Vegetarian Mexican-Inspired Quinoa Bowl with avocado, squash, and black beans.”
                </i>
            </p>
        </div>
        <div class="adimg">
            <img src="../img/apron/BA_ad.jpg">
        </div>
        <div class="BAretbutton">
            <a class="BAretbtn" href="index.html#work">SEE MY OTHER WORK</a>
        </div>
    </section>
</body>